.about{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
height: 100%;
}
.about .abouttext{
    text-align: center;
    margin: 3rem 1rem;
}
.about .abouttext h1{

    font-size: 80px;}
    .about .abouttext p{
        font-size: 40px;
        margin: 1rem 0;
    }



    .about .acard1 {
        width: 100%;
        margin: 1rem 1rem;
        background:#FD8A8A;}
      .about  .acard1-container{
            max-width: 1140px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-gap:40px; }

            .aboutreq{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                height: 100%;
                font-weight: 600;
                font-size: 25px;
                background: #FD8A8A;
            }

            .aboutreq .aboutb{
                text-align: center;
                margin: 2rem 2rem;
            }