

label{
    color: rgb(10, 9, 9);
}


       
    
  form{
            display: flex;
            flex-direction: column;
               justify-content: center;
                text-align: center;
                margin: auto;
                padding: 1rem ;
                max-width: 100%;
        }
 
 
form input,form textarea{
    margin-bottom: 1.5rem;
    padding: 10px 50px;
    font-size: 1.2rem;
    max-width: 100%;
    background-color: white;
    border-color: rgba(255, 255, 255, 0.1);
    color: #070606;
    }

   

    .mapouter{position:relative;text-align:right;height:80vh;width:100%; padding: 2rem; }
.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}
  